
# Category-level TF‑IDF + Themes (Best‑of‑Both, Canonical Pipeline)

This notebook merges:
- the **original exploratory TF‑IDF outputs** (tables you relied on),
- with the **correct, leak‑free canonical token pipeline**.

Key invariants:
- `df_tokens` is the *only* dataframe used for TF‑IDF, NMF, contrast.
- Hard stopwords cannot leak (asserted).
- All original TF‑IDF displays are preserved.

In [1]:

import pandas as pd
import numpy as np

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)

## 1. Load data (replace with real loads)

In [2]:
tokens1 = pd.read_csv('/Users/matt.fritz/Desktop/Research Insights/Essay Tokens jan302024topresent_1.csv')  # project_id, tokens
tokens2 = pd.read_csv('/Users/matt.fritz/Desktop/Research Insights/Essay Tokens jan302024topresent_3.csv')  # project_id, tokens
tokens3 = pd.read_csv('/Users/matt.fritz/Desktop/Research Insights/Essay Tokens jan302024topresent_5.csv')  # project_id, tokens
tokens4 = pd.read_csv('/Users/matt.fritz/Desktop/Research Insights/Essay Tokens jan302024topresent_7.csv')  # project_id, tokens
tokens5 = pd.read_csv('/Users/matt.fritz/Desktop/Research Insights/Essay Tokens jan302024topresent_9.csv')  # project_id, tokens
tokens  = pd.concat(
    [tokens1, tokens2, tokens3, tokens4, tokens5],
    ignore_index=True
)

projects = pd.read_csv('/Users/matt.fritz/Desktop/Research Insights/ProjSuccess_ProjectRawData_260116_clean.csv')  # project metadata

projects['posted_date'] = pd.to_datetime(projects['posted_date'])

# Keep only projects with tokens
df = projects.merge(tokens, on='project_id', how='inner')
df.shape

CATEGORY_FIELD = "grade_band"

## 2. Explode tokens (raw)

In [3]:

df["token"] = df["tokens"].str.split(",")
df = df.explode("token", ignore_index=True)
df["token"] = df["token"].astype(str).str.lower().str.strip()

df = df.drop_duplicates(subset=["project_id", "token"])
df = df[df["token"].ne("")]

df.head()

,project_id,funded_date,materials_vendors_count,material_cost,has_eligible_match,fy25_historical_efs_status,expiration_date,is_favorite_or_exciting,is_professional_development,is_student_led,is_teachers_first_posted_project,ariba_line_items_count,teachers_nth_posted_project,project_received_government_grant,percentage_free_lunch_at_time_of_posting,metro_type_at_time_of_posting,school_zip,school_id_at_time_of_posting,school_enrollment,school_is_historically_underrepresented_race,school_is_low_income,school_is_racially_predominant,school_is_underserved_rural,school_year_open,school_percent_black_imputed,school_percent_latinx_imputed,school_percent_asian_imputed,school_percent_white_imputed,sf_district_account_date_discouraging_dc_date_1,teacher_created_date,teacher_days_to_activation,teacher_first_project_posted_date,teacher_photo_published,teacher_has_profile_photo,teacher_is_teacher_of_color,teacher_gender,teacher_start_teaching_year,posted_date,grade_band,project_category,total_cost,teacher_id,tokens,token
0,8173551,2024-01-31,6,346.1,No,Yes,2024-05-24,No,No,No,Yes,14.0,1,No,95.0,Urban,39202,12275.0,1279.0,Yes,Yes,Yes,No,Early (prior to 8/16),94,2,0,1,NaN,2022-08-01,547.0,2024-01-31,Yes,No,Yes,NaN,NaN,2024-01-31,Grades 9-12,Art Supplies,493.92,8560900,"cards,enjoyed,holidays,now,back,finish,strong,...",cards
1,8173551,2024-01-31,6,346.1,No,Yes,2024-05-24,No,No,No,Yes,14.0,1,No,95.0,Urban,39202,12275.0,1279.0,Yes,Yes,Yes,No,Early (prior to 8/16),94,2,0,1,NaN,2022-08-01,547.0,2024-01-31,Yes,No,Yes,NaN,NaN,2024-01-31,Grades 9-12,Art Supplies,493.92,8560900,"cards,enjoyed,holidays,now,back,finish,strong,...",enjoyed
2,8173551,2024-01-31,6,346.1,No,Yes,2024-05-24,No,No,No,Yes,14.0,1,No,95.0,Urban,39202,12275.0,1279.0,Yes,Yes,Yes,No,Early (prior to 8/16),94,2,0,1,NaN,2022-08-01,547.0,2024-01-31,Yes,No,Yes,NaN,NaN,2024-01-31,Grades 9-12,Art Supplies,493.92,8560900,"cards,enjoyed,holidays,now,back,finish,strong,...",holidays
3,8173551,2024-01-31,6,346.1,No,Yes,2024-05-24,No,No,No,Yes,14.0,1,No,95.0,Urban,39202,12275.0,1279.0,Yes,Yes,Yes,No,Early (prior to 8/16),94,2,0,1,NaN,2022-08-01,547.0,2024-01-31,Yes,No,Yes,NaN,NaN,2024-01-31,Grades 9-12,Art Supplies,493.92,8560900,"cards,enjoyed,holidays,now,back,finish,strong,...",now
4,8173551,2024-01-31,6,346.1,No,Yes,2024-05-24,No,No,No,Yes,14.0,1,No,95.0,Urban,39202,12275.0,1279.0,Yes,Yes,Yes,No,Early (prior to 8/16),94,2,0,1,NaN,2022-08-01,547.0,2024-01-31,Yes,No,Yes,NaN,NaN,2024-01-31,Grades 9-12,Art Supplies,493.92,8560900,"cards,enjoyed,holidays,now,back,finish,strong,...",back

## 3. Canonical token dataframe + hard stopwords

In [4]:

df_tokens = df.copy()

HARD_STOPWORDS = {
    "kindergarten","preschoolers","freshmen","freshman","sophomores","olds",
    "preschool","firsties","kinders","fourth","preschooler","kindergartners",
    "winn","dixie","juniors","kindergarteners","seniors","prekindergarten",
    "schoolers","senior","kindergartner","learns",
}
HARD_STOPWORDS = {w.lower() for w in HARD_STOPWORDS}

df_tokens = df_tokens[~df_tokens["token"].isin(HARD_STOPWORDS)]

assert not df_tokens["token"].isin(HARD_STOPWORDS).any(), "Hard stopwords leaked"

print("✅ Hard stopwords removed")
print("Rows:", len(df_tokens), "Unique tokens:", df_tokens["token"].nunique())

✅ Hard stopwords removed
Rows: 5169856 Unique tokens: 40209

## 4. Corpus‑level token pruning

In [5]:

MAX_PROJECT_COVERAGE = 0.50
MAX_CATEGORY_COVERAGE = 1.00
MIN_PROJECT_COUNT = 3

n_projects = df_tokens["project_id"].nunique()
n_categories = df_tokens[CATEGORY_FIELD].nunique()

token_stats = (
    df_tokens
    .groupby("token")
    .agg(
        project_count=("project_id", "nunique"),
        category_count=(CATEGORY_FIELD, "nunique"),
    )
)

token_stats["project_coverage"] = token_stats["project_count"] / n_projects
token_stats["category_coverage"] = token_stats["category_count"] / n_categories

bad_tokens = token_stats.index[
    (token_stats["project_coverage"] > MAX_PROJECT_COVERAGE)
    | (token_stats["category_coverage"] > MAX_CATEGORY_COVERAGE)
    | (token_stats["project_count"] < MIN_PROJECT_COUNT)
]

df_tokens = df_tokens[~df_tokens["token"].isin(bad_tokens)]

print(f"Filtered {len(bad_tokens):,} corpus‑level tokens")
print("Remaining unique tokens:", df_tokens["token"].nunique())

Filtered 19,899 corpus‑level tokens
Remaining unique tokens: 20310

In [6]:
token_stats[["project_coverage", "category_coverage", "project_count"]].describe(percentiles=[0.5, 0.75, 0.9, 0.95, 0.99])

       project_coverage  category_coverage  project_count
count      40209.000000       40209.000000   40209.000000
mean           0.001410           0.570712     128.574598
std            0.009316           0.326152     849.544247
min            0.000011           0.250000       1.000000
50%            0.000033           0.500000       3.000000
75%            0.000175           1.000000      16.000000
90%            0.001316           1.000000     120.000000
95%            0.004514           1.000000     411.600000
99%            0.030451           1.000000    2776.920000
max            0.358014           1.000000   32648.000000

## 5. Category‑level TF‑IDF (core table)

In [7]:

cat_token = (
    df_tokens
    .groupby([CATEGORY_FIELD, "token"])
    .agg(k_projects=("project_id", "nunique"))
    .reset_index()
)

n_cat_projects = (
    df_tokens
    .groupby(CATEGORY_FIELD)["project_id"]
    .nunique()
    .rename("n_projects")
    .reset_index()
)

cat_token = cat_token.merge(n_cat_projects, on=CATEGORY_FIELD, how="left")

cat_token["tf"] = cat_token["k_projects"] / cat_token["n_projects"]

n_categories = cat_token[CATEGORY_FIELD].nunique()

token_cat_counts = (
    cat_token
    .groupby("token")[CATEGORY_FIELD]
    .nunique()
    .rename("cat_count")
)

cat_token = cat_token.merge(token_cat_counts, on="token", how="left")
cat_token["idf"] = np.log(n_categories / (1 + cat_token["cat_count"]))
cat_token["tfidf"] = cat_token["tf"] * cat_token["idf"]

cat_token.head()

,grade_band,token,k_projects,n_projects,tf,cat_count,idf,tfidf
0,Grades 3-5,aaa,5,26018,0.000192,4,-0.223144,-0.000043
1,Grades 3-5,aac,17,26018,0.000653,4,-0.223144,-0.000146
2,Grades 3-5,aapi,1,26018,0.000038,4,-0.223144,-0.000009
3,Grades 3-5,aaron,4,26018,0.000154,4,-0.223144,-0.000034
4,Grades 3-5,aba,9,26018,0.000346,4,-0.223144,-0.000077

## 6. TF‑IDF exploratory outputs (restored)

In [8]:

# Global top TF‑IDF
display(cat_token.sort_values("tfidf", ascending=False).head(50))

,grade_band,token,k_projects,n_projects,tf,cat_count,idf,tfidf
51743,Grades 9-12,welding,35,16380,0.002137,1,0.693147,0.001481
36063,Grades 9-12,biotechnology,29,16380,0.001770,1,0.693147,0.001227
48492,Grades 9-12,shakespeare,52,16380,0.003175,2,0.287682,0.000913
41091,Grades 9-12,gatsby,21,16380,0.001282,1,0.693147,0.000889
38891,Grades 9-12,diploma,43,16380,0.002625,2,0.287682,0.000755
67550,Grades PreK-2,tonies,84,32806,0.002561,2,0.287682,0.000737
39056,Grades 9-12,dissolved,17,16380,0.001038,1,0.693147,0.000719
42206,Grades 9-12,immigrate,39,16380,0.002381,2,0.287682,0.000685
40767,Grades 9-12,forensics,37,16380,0.002259,2,0.287682,0.000650
47247,Grades 9-12,regents,37,16380,0.002259,2,0.287682,0.000650
68524,Grades PreK-2,vowel,71,32806,0.002164,2,0.287682,0.000623
40867,Grades 9-12,frc,14,16380,0.000855,1,0.693147,0.000592
48626,Grades 9-12,shs,14,16380,0.000855,1,0.693147,0.000592
54085,Grades PreK-2,buttoning,28,32806,0.000854,1,0.693147,0.000592
38444,Grades 9-12,deca,13,16380,0.000794,1,0.693147,0.000550
43745,Grades 9-12,macbeth,13,16380,0.000794,1,0.693147,0.000550
44214,Grades 9-12,mhs,13,16380,0.000794,1,0.693147,0.000550
44887,Grades 9-12,nonnative,13,16380,0.000794,1,0.693147,0.000550
68528,Grades PreK-2,vpk,26,32806,0.000793,1,0.693147,0.000549
46310,Grades 9-12,precalculus,29,16380,0.001770,2,0.287682,0.000509
47696,Grades 9-12,revenue,12,16380,0.000733,1,0.693147,0.000508
14992,Grades 3-5,storyworks,43,26018,0.001653,2,0.287682,0.000475
63072,Grades PreK-2,piggie,54,32806,0.001646,2,0.287682,0.000474
47740,Grades 9-12,rhetorical,11,16380,0.000672,1,0.693147,0.000465
34679,Grades 9-12,acids,11,16380,0.000672,1,0.693147,0.000465
42979,Grades 9-12,jrotc,11,16380,0.000672,1,0.693147,0.000465
50967,Grades 9-12,unaccompanied,11,16380,0.000672,1,0.693147,0.000465
63191,Grades PreK-2,playhouse,22,32806,0.000671,1,0.693147,0.000465
44116,Grades 9-12,memoir,26,16380,0.001587,2,0.287682,0.000457
34316,Grades 6-8,wms,10,15988,0.000625,1,0.693147,0.000434
49523,Grades 9-12,stoichiometry,10,16380,0.000611,1,0.693147,0.000423
51739,Grades 9-12,weld,10,16380,0.000611,1,0.693147,0.000423
44325,Grades 9-12,minors,10,16380,0.000611,1,0.693147,0.000423
54262,Grades PreK-2,carle,20,32806,0.000610,1,0.693147,0.000423
52721,Grades PreK-2,angelman,20,32806,0.000610,1,0.693147,0.000423
42689,Grades 9-12,internships,24,16380,0.001465,2,0.287682,0.000422
39561,Grades 9-12,electrophoresis,23,16380,0.001404,2,0.287682,0.000404
56762,Grades PreK-2,duchenne,19,32806,0.000579,1,0.693147,0.000401
23403,Grades 6-8,fitzhugh,9,15988,0.000563,1,0.693147,0.000390
24634,Grades 6-8,hinton,9,15988,0.000563,1,0.693147,0.000390
47591,Grades 9-12,respiration,22,16380,0.001343,2,0.287682,0.000386
36591,Grades 9-12,cadets,22,16380,0.001343,2,0.287682,0.000386
50799,Grades 9-12,trigonometry,22,16380,0.001343,2,0.287682,0.000386
37135,Grades 9-12,chs,22,16380,0.001343,2,0.287682,0.000386
38161,Grades 9-12,criminal,22,16380,0.001343,2,0.287682,0.000386
34937,Grades 9-12,ahs,9,16380,0.000549,1,0.693147,0.000381
36885,Grades 9-12,censorship,9,16380,0.000549,1,0.693147,0.000381
47739,Grades 9-12,rhetoric,9,16380,0.000549,1,0.693147,0.000381
46346,Grades 9-12,pregnancy,9,16380,0.000549,1,0.693147,0.000381
42998,Grades 9-12,juliet,21,16380,0.001282,2,0.287682,0.000369

In [9]:

# Top TF‑IDF tokens per category (original core output)
TOP_N = 15

display(
    cat_token
    .sort_values([CATEGORY_FIELD, "tfidf"], ascending=[True, False])
    .groupby(CATEGORY_FIELD)
    .head(TOP_N)[
        [CATEGORY_FIELD, "token", "tf", "idf", "tfidf", "k_projects", "n_projects"]
    ]
)

,grade_band,token,tf,idf,tfidf,k_projects,n_projects
14992,Grades 3-5,storyworks,0.001653,0.287682,0.000475,43,26018
9415,Grades 3-5,matilda,0.000500,0.693147,0.000346,13,26018
845,Grades 3-5,arrays,0.000884,0.287682,0.000254,23,26018
4073,Grades 3-5,departmentalized,0.000884,0.287682,0.000254,23,26018
8263,Grades 3-5,ivan,0.000807,0.287682,0.000232,21,26018
9751,Grades 3-5,miraculous,0.000307,0.693147,0.000213,8,26018
567,Grades 3-5,amira,0.000653,0.287682,0.000188,17,26018
3806,Grades 3-5,dahl,0.000653,0.287682,0.000188,17,26018
3527,Grades 3-5,cozying,0.000269,0.693147,0.000186,7,26018
16324,Grades 3-5,tulane,0.000269,0.693147,0.000186,7,26018
13250,Grades 3-5,roald,0.000577,0.287682,0.000166,15,26018
10231,Grades 3-5,neurodivergence,0.000231,0.693147,0.000160,6,26018
16995,Grades 3-5,vowel,0.000500,0.287682,0.000144,13,26018
732,Grades 3-5,applegate,0.000192,0.693147,0.000133,5,26018
3441,Grades 3-5,corrugated,0.000192,0.693147,0.000133,5,26018
34316,Grades 6-8,wms,0.000625,0.693147,0.000434,10,15988
23403,Grades 6-8,fitzhugh,0.000563,0.693147,0.000390,9,15988
24634,Grades 6-8,hinton,0.000563,0.693147,0.000390,9,15988
19131,Grades 6-8,bms,0.000438,0.693147,0.000303,7,15988
21981,Grades 6-8,dms,0.000375,0.693147,0.000260,6,15988
27552,Grades 6-8,njhs,0.000375,0.693147,0.000260,6,15988
21588,Grades 6-8,desmos,0.000876,0.287682,0.000252,14,15988
24094,Grades 6-8,golfers,0.000876,0.287682,0.000252,14,15988
21171,Grades 6-8,cuneiform,0.000313,0.693147,0.000217,5,15988
22444,Grades 6-8,elmhurst,0.000313,0.693147,0.000217,5,15988
33278,Grades 6-8,troy,0.000313,0.693147,0.000217,5,15988
33750,Grades 6-8,vape,0.000313,0.693147,0.000217,5,15988
25349,Grades 6-8,integers,0.000751,0.287682,0.000216,12,15988
31003,Grades 6-8,shakespeare,0.000751,0.287682,0.000216,12,15988
25348,Grades 6-8,integer,0.000625,0.287682,0.000180,10,15988
51743,Grades 9-12,welding,0.002137,0.693147,0.001481,35,16380
36063,Grades 9-12,biotechnology,0.001770,0.693147,0.001227,29,16380
48492,Grades 9-12,shakespeare,0.003175,0.287682,0.000913,52,16380
41091,Grades 9-12,gatsby,0.001282,0.693147,0.000889,21,16380
38891,Grades 9-12,diploma,0.002625,0.287682,0.000755,43,16380
39056,Grades 9-12,dissolved,0.001038,0.693147,0.000719,17,16380
42206,Grades 9-12,immigrate,0.002381,0.287682,0.000685,39,16380
40767,Grades 9-12,forensics,0.002259,0.287682,0.000650,37,16380
47247,Grades 9-12,regents,0.002259,0.287682,0.000650,37,16380
40867,Grades 9-12,frc,0.000855,0.693147,0.000592,14,16380
48626,Grades 9-12,shs,0.000855,0.693147,0.000592,14,16380
38444,Grades 9-12,deca,0.000794,0.693147,0.000550,13,16380
43745,Grades 9-12,macbeth,0.000794,0.693147,0.000550,13,16380
44214,Grades 9-12,mhs,0.000794,0.693147,0.000550,13,16380
44887,Grades 9-12,nonnative,0.000794,0.693147,0.000550,13,16380
67550,Grades PreK-2,tonies,0.002561,0.287682,0.000737,84,32806
68524,Grades PreK-2,vowel,0.002164,0.287682,0.000623,71,32806
54085,Grades PreK-2,buttoning,0.000854,0.693147,0.000592,28,32806
68528,Grades PreK-2,vpk,0.000793,0.693147,0.000549,26,32806
63072,Grades PreK-2,piggie,0.001646,0.287682,0.000474,54,32806
63191,Grades PreK-2,playhouse,0.000671,0.693147,0.000465,22,32806
52721,Grades PreK-2,angelman,0.000610,0.693147,0.000423,20,32806
54262,Grades PreK-2,carle,0.000610,0.693147,0.000423,20,32806
56762,Grades PreK-2,duchenne,0.000579,0.693147,0.000401,19,32806
68799,Grades PreK-2,willems,0.001250,0.287682,0.000360,41,32806
63070,Grades PreK-2,pigeon,0.001006,0.287682,0.000289,33,32806
63002,Grades PreK-2,phonemes,0.000975,0.287682,0.000281,32,32806
54565,Grades PreK-2,chicka,0.000396,0.693147,0.000275,13,32806
57978,Grades PreK-2,flannel,0.000396,0.693147,0.000275,13,32806
66331,Grades PreK-2,squigz,0.000396,0.693147,0.000275,13,32806

## 7. NMF themes per category

In [10]:

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import NMF

N_THEMES = 5
TOP_WORDS_PER_THEME = 10
MIN_PROJECTS_PER_CATEGORY = 100

themes = []

for cat, sub in df_tokens.groupby(CATEGORY_FIELD):
    docs = sub.groupby("project_id")["token"].apply(lambda x: " ".join(x))
    if len(docs) < MIN_PROJECTS_PER_CATEGORY:
        continue

    vec = TfidfVectorizer(min_df=5, max_df=0.9)
    X = vec.fit_transform(docs)

    nmf = NMF(n_components=N_THEMES, random_state=42, init="nndsvd")
    H = nmf.fit(X).components_
    vocab = np.array(vec.get_feature_names_out())

    for i, w in enumerate(H):
        themes.append({
            "category": cat,
            "theme_id": i + 1,
            "tokens": vocab[np.argsort(w)[::-1][:TOP_WORDS_PER_THEME]].tolist()
        })

themes_df = pd.DataFrame(themes)
themes_df.head()

     category  theme_id                                             tokens
0  Grades 3-5         1  [all, able, work, class, some, not, keep, time...
1  Grades 3-5         2  [hands, skills, problem, explore, creativity, ...
2  Grades 3-5         3  [environment, thrive, create, feel, focus, emo...
3  Grades 3-5         4  [books, reading, read, library, book, love, re...
4  Grades 3-5         5  [seating, flexible, comfortable, options, sit,...

## 8. Contrast + prevalence scoring

In [11]:

cat_token_projects = (
    df_tokens
    .groupby([CATEGORY_FIELD, "token"])
    .agg(token_project_count=("project_id", "nunique"))
    .reset_index()
)

cat_projects = (
    df_tokens
    .groupby(CATEGORY_FIELD)["project_id"]
    .nunique()
    .rename("category_project_count")
    .reset_index()
)

cat_token_projects = cat_token_projects.merge(cat_projects, on=CATEGORY_FIELD, how="left")
cat_token_projects["tf"] = (
    cat_token_projects["token_project_count"]
    / cat_token_projects["category_project_count"]
)

cat_token_projects = cat_token_projects.set_index([CATEGORY_FIELD, "token"])

def score_theme(tokens, category):
    try:
        tf_in = cat_token_projects.loc[(category, tokens), "tf"].mean()
        tf_out = (
            cat_token_projects
            .loc[pd.IndexSlice[:, tokens], "tf"]
            .reset_index()
            .query(f"{CATEGORY_FIELD} != @category")
            .groupby("token")["tf"]
            .mean()
            .mean()
        )
        count = cat_token_projects.loc[(category, tokens), "token_project_count"].sum()
        total = cat_projects.set_index(CATEGORY_FIELD).loc[category, "category_project_count"]
        return pd.Series({
            "contrast": tf_in - tf_out,
            "theme_project_count": int(count),
            "theme_project_pct": count / total,
        })
    except KeyError:
        return pd.Series({
            "contrast": 0.0,
            "theme_project_count": 0,
            "theme_project_pct": 0.0,
        })

themes_df[["contrast","theme_project_count","theme_project_pct"]] = (
    themes_df.apply(lambda r: score_theme(r["tokens"], r["category"]), axis=1)
)

## 9. Theme outputs

In [12]:

display(
    themes_df
    .sort_values("contrast", ascending=False)
    .head(20)[
        ["category","theme_id","contrast","theme_project_pct","tokens"]
    ]
)

,category,theme_id,contrast,theme_project_pct,tokens
16,Grades PreK-2,2,0.042793,1.574560,"[skills, hands, play, motor, explore, problem,..."
14,Grades 9-12,5,0.039523,1.480098,"[equipment, program, community, team, skills, ..."
18,Grades PreK-2,4,0.038419,1.541639,"[reading, books, read, library, readers, book,..."
3,Grades 3-5,4,0.033518,1.470290,"[books, reading, read, library, book, love, re..."
12,Grades 9-12,3,0.020435,1.521673,"[environment, focus, space, feel, emotional, c..."
4,Grades 3-5,5,0.019400,0.730417,"[seating, flexible, comfortable, options, sit,..."
17,Grades PreK-2,3,0.016718,0.938456,"[space, comfortable, seating, safe, feel, flex..."
10,Grades 9-12,1,0.009558,2.134554,"[class, all, some, able, keep, work, not, want..."
6,Grades 6-8,2,0.007763,1.109144,"[hands, explore, problem, world, solving, crea..."
5,Grades 6-8,1,0.003882,2.170003,"[all, class, able, some, not, work, out, want,..."
2,Grades 3-5,3,0.003282,1.577831,"[environment, thrive, create, feel, focus, emo..."
9,Grades 6-8,5,0.002091,1.397923,"[enhance, academic, environment, skills, impac..."
0,Grades 3-5,1,0.001655,2.198632,"[all, able, work, class, some, not, keep, time..."
1,Grades 3-5,2,-0.001020,1.299216,"[hands, skills, problem, explore, creativity, ..."
19,Grades PreK-2,5,-0.003751,1.383009,"[environment, thrive, create, diverse, engagin..."
7,Grades 6-8,3,-0.004134,1.244996,"[feel, space, environment, stay, focus, comfor..."
11,Grades 9-12,2,-0.006899,1.272711,"[hands, explore, concepts, real, interactive, ..."
15,Grades PreK-2,1,-0.007218,2.132079,"[all, keep, work, able, not, some, class, item..."
8,Grades 6-8,4,-0.015100,0.892482,"[reading, books, read, library, book, readers,..."
13,Grades 9-12,4,-0.038549,0.699573,"[reading, books, read, book, library, english,..."